<ion-header>
  <ion-toolbar>
      <ion-title>
          Master Duel
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
      <div id="block_image">
      </div>
      <div id="block_homeyellowcell">
          <button class="yellowcell" routerLink="/duelmastercardlist" routerLinkActive="active">Mes cartes</button>
          <button class="yellowcell" routerLink="/duelmasterdecklist" routerLinkActive="active">Mes decks</button>
          <button class="yellowcell" routerLink="/duelmasterbanlist" routerLinkActive="active">Banlist</button>
          <div class="yellowcell">Les règles</div>
      </div>
  </main>
</ion-content>