<ion-header>
  <ion-toolbar>
      <ion-title>
          Speed Duel
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <main>
      <div id="block_image">
          <img src="biblioh/src/assets/latest.png"> </div>
      <div id="block_homeyellowcell">
          <div class="yellowcell" routerLink="/speedduelcardlist" routerLinkActive="active">Mes cartes</div>
          <div class="yellowcell">Mes decks</div>
          <div class="yellowcell">Banlist</div>
          <div class="yellowcell">Les règles</div>
      </div>
  </main>
</ion-content>